{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static "hoteldata/base.css" %}">
    {% block template_style %}{% endblock %}

    <title>{% block site-title %}Hotel Browser{% endblock %}</title>
</head>
<body>
    <div id="navbar">
        <h1 id="navbar-logo">
            hotel browser
        </h1>

        <nav id="navbar-nav">
            <a href="/">home</a>
            <a href="/admin">admin</a>
        </nav>
    </div>

    <main id="content">
        {% block content %}{% endblock %}
    </main>
</body>
</html>
