{% extends "hoteldata/base.html" %}

{% block content %}
<div class="hotel-filter-section">
    <form action="#" method="get">
        {{ city_form }}
        <input type="submit" value="Submit">
    </form>
    <a href="{% url "hotel_list" %}">Remove filters</a>
</div>


<section class="hotel-list">
    {% for hotel in hotel_list %}
    <article class="hotel-info">
        <h2 class="hotel-name">{{ hotel.name }}</h2>
        <div class="hotel-location">In: {{ hotel.city.name }}</div>
    </article>
    {% empty %}
    <span class="italics">No hotels found</span>
    {% endfor %}
</section>
{% endblock %}
