{% extends "hoteldata/base.html" %}
{% load static %}

{% block template_style %}
<link rel="stylesheet" href="{% static "hoteldata/hotel_list.css" %}">
{% endblock template_style %}

{% block content %}
<div id="hotel-browser">
    <div class="hotel-filter-section">
        <h2 class="sidebar-title">Filters</h2>
        <form action="#" method="get" id="hotel-filter-form">
            {{ city_form }}
            <input type="submit" value="apply">
        </form>
        <a href="{% url "hotel_list" %}">Remove filters</a>
    </div>

    <div class="separator" aria-hidden="true" role="presentation"></div>

    <section id="hotel-list">
        {% for hotel in hotel_list %}
        <article class="hotel-info">
            <h2 class="hotel-name">{{ hotel.name }}</h2>
            <div class="hotel-location">In: {{ hotel.city.name }}</div>
        </article>
        {% empty %}
        <span class="italics">No hotels found</span>
        {% endfor %}
    </section>
</div>
{% endblock content %}
